.matchup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team {
    position: relative;
    width: 14rem;
    height: 6rem;
    margin: 0.313rem;
    border-radius: 0.6rem;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-size: 110%;
    filter: blur(2.7px);
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.text-overlay {
    position: relative;
    z-index: 2;
    color: white;
    padding: 10px;
}

.vs {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blur-text-container {
    position: relative;
    display: inline-block;
    border-radius: 0.6rem;
    padding: 0.2rem;
}

.blur-text-container::before {
    content: "";
    position: absolute;
    top: 0.53rem;
    left: 0.15rem;
    width: 100%;
    height: 70%;
    background: rgba(61, 61, 61, 0.4);
    backdrop-filter: blur(4px);
    z-index: -1;
    border-radius: 0.5rem;
    padding: 0 0 0 0.25rem;
    margin: 0 0 0 -0.25rem;
}

.blur-score-text-container::before {
    top: 0.4rem;
    z-index: -2;
    left: 0.15rem;
}

.team-text-size {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

.puntos-text-size {
    font-weight: bold;
    font-size: 1.3rem;
}

.text-container-padding-bot{
    margin-bottom: -0.35rem;
}
.text-container-padding-top{
    margin-top: -0.35rem;
}
.vs-L{
    margin: 0 -0.25rem 0 0;
    padding-bottom: 0.3rem;
}
.vs-R{
    margin-bottom: 0 0 0.25rem 0;
    padding-top: 0.3rem;

}


@media (max-width: 576px){
    .team-text-size {
        font-size: 1rem;
    }
    
    .puntos-text-size {
        font-size: 0.9rem;
    }
    .vs {
        font-size: 1.1rem;
    }
    .team {
        width: 8.5rem;
        height: 3.65rem;
        margin: 0.313rem;
        border-radius: 0.6rem;
    }
    .blur-text-container::before {
        top: 0.3rem;
    }
    .blur-score-text-container::before {
        top: 0.22rem;
    }
    .text-container-padding-bot{
        margin-bottom: -0.4rem;
        transform: translateY(0.1rem);
    }
    .text-container-padding-top{
        margin-top: -0.4rem;
        transform: translateY(-0.1rem);
    }
    
}