.doc-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;              /* Gap entre las tarjetas */
    margin: 0 auto;         /* Centrar las tarjetas en el contenedor */
    max-width: 75rem;
    padding: 0.625rem;
  }
  
.doc-card {
    background-color: #fff;         /* Fondo blanco para las tarjetas por si hay transparencias (como en doro de matar)*/
    border: 0.063rem solid #ddd;    /* Borde */
    border-radius: 0.5rem;              /* Bordes redondeados */
    overflow: hidden;                   /* Oculta desborde */
    text-align: center;
    width: 13.907rem;
    transition:
    border-color , transform 0.3s ease,
    box-shadow 0.3s linear;
}
  
.doc-card:hover {
    transform: translateY(-0.313rem);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombrita */
    border-color: var(--ifm-color-primary);
    border-width: 0.15rem 0.15rem;
}
  
.doc-card-image {
    display: block; 
    width: 100%; 
    height: auto; 
    object-fit: cover; 
	-webkit-user-drag: none;
    user-select: none;
}
  
.doc-card h3 {
    font-size: 1.25rem; 
    margin: 0.625rem 0; 
    color: #333;
    text-decoration: 'none';
    user-select: none;
}


@media (max-width: 576px){
    .doc-card{
        width: 8.5rem;
    }
    .doc-card h3 {
        font-size: 1.1rem; 
    }
}